
@{
    ViewBag.Title = "Ratio";
    Layout = "~/Views/Shared/MyLayout2.cshtml";
}

<div class="jumbotron" id="wrapper" style="margin-top:20px">
    <div id="container" style="min-width: 50%; height: 600px; max-width: 40%; margin-left: 26%; margin-right: 60% ">

    </div>
    <div class="white-box" style="background-color:white;margin-left:26%;margin-right:24%;font-size:25px">
       
        <table>
            <tr>
                <td style="padding-right: 12px; color: darkorange; font-weight: bold">
                    <span> Admin--> </span>
                    <span id="admin"></span>
                </td>
                <td style="color:red">|</td>

                <td style="padding-right: 12px; padding-left: 20px; color: #14dc14; font-weight: bold ">
                    <span> Instructor--> </span>
                    <span id="ins"></span>
                </td>
                <td style="color:red">|</td>

                <td style="padding-right: 12px; padding-left: 20px; font-weight: bold ">
                    <span> Moderator--> </span>
                    <span id="mod"></span><br />
                </td>
                <td style="color:red">|</td>

                <td style="padding-left: 12px; color: deepskyblue; font-weight: bold ">

                    <span> Learner--> </span>
                    <span id="learner"></span><br />
                </td>
            </tr>
        </table>
        
        
        

       

    




    </div>
 
</div>



<script>
    function refresh() {
        window.location.reload();
    }

    $(document).ready(function () {
        window.setInterval('refresh()', 10000);

        $.getJSON("/Admin/ShowChart", function (data) {
            document.getElementById("admin").innerHTML = data.Admin;
            document.getElementById("ins").innerHTML = data.Instructor;
            document.getElementById("learner").innerHTML = data.Learner;
            document.getElementById("mod").innerHTML = data.Moderator;

            Highcharts.chart('container', {
                chart: {
                    plotBackgroundColor: "white",
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: '<h1>Our Systenm Users</h1>'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{

                    name: 'Brands',
                    colorByPoint: true,

                    data: [{

                        name: 'Learner',
                        y: data.Learner,
                        sliced: true,
                        selected: true
                    }, {
                        name: 'Moderator',
                        y: data.Moderator
                    }, {
                        name: 'Instructor',
                        y: data.Instructor

                        }
                        , {
                            name: 'Admin',
                            y: data.Admin

                        }


                    ]
                }]
            });
        });
    });



</script>

