
@{
    ViewBag.Title = "CourseView";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}

<h2>CourseView</h2>
<div id="wrapper">

    <div id="page-wrapper">
        @*<iframe width="942" height="530" src="https://www.youtube.com/embed/1wqOkSHVCn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
        <center><iframe width="600" height="337" src="https://youtube.com/embed/5Eqb_-j3FDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    </div>
    </div>