
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}
@{ 
    int totalLearners = Model.LernerCount;
    int PostedCourseCount = Model.PostedCourseCount;
}
<br /><br />
<input type="text" name="name" value=@*@Model.name*@ style="color:red">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard Page</h4>
                    <center><label style="font-size: 13px" class="text-danger">@ViewBag.Message</label></center>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                @*col*@
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i data-icon="e"
                                   class="linea-icon linea-basic"></i>
                                <h5 class="text-muted vb">Offered Courses By You</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-danger">@PostedCourseCount</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger " role="progressbar"
                                         aria-valuenow=0 aria-valuemin="0" aria-valuemax=100 style="width:@(PostedCourseCount+"%")">
                                        <span class="sr-only">@PostedCourseCount% complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i class="linea-icon linea-basic"
                                   data-icon="&#xe01b;"></i>
                                <h5 class="text-muted vb">Enrolled Learners</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-megna">@*@Learner*@</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-megna" role="progressbar"
                                         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:@*@asd(learner+" %")*@">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <!--col -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <div class="col-in row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <i class="linea-icon linea-basic"
                                   data-icon="&#xe00b;"></i>
                                <h5 class="text-muted vb">Total Learners</h5>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3 class="counter text-right m-t-15 text-primary">@totalLearners</h3>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar"
                                         aria-valuenow="30" aria-valuemin="30" aria-valuemax="100" style="width:@(totalLearners+"%")">
                                        <span class="sr-only">10% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        @Session["uid"] <br />
                        Total Courses Offered By You
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="white-box">
                        gg
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center">
                2022 &copy; Ask And Learn
            </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Theme/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Theme/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Theme/js/waves.js"></script>
    <!--Counter js -->
    <script src="~/Theme/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Theme/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/Theme/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Theme/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Theme/js/custom.min.js"></script>
    <script src="~/Theme/js/dashboard1.js"></script>
    <script src="~/Theme/plugins/bower_components/toast-master/js/jquery.toast.js"></script>