
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/InstructorDashboard.cshtml";
}
<br /><br />
<input type="text" name="name" value=@*@Model.name*@ style="color:red">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard Page</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- .row -->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="white-box">
                        gg
                    </div>
                </div>

                
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">
            2020 &copy; Pixel Admin brought to you by <a href="https://www.wrappixel.com/">wrappixel.com</a>
        </footer>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="../../Theme/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../Theme/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="../../Theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="../../Theme/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="../../Theme/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../Theme/js/custom.min.js"></script>