<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>


    <div style="text-align:center; background-color:orange;font-size:45px;">
        @*<b style="font-family: 'Brush Script MT', cursive;">Confirm Your Account </b>*@
    </div>
    <div style=" font-family: 'Courier New', monospace;">
        <h3>
            Hi sir/madam,
            Greatings from Ask&Learn. Your Account has been created successfully.If you didn't created account with this email, 
            contact with: hamiduddin280@gmail.com'
        </h3>
            <h3> Please Login With -</h3>
       
    </div>
</body>
</html>
